body{
    display: flex;
}
.block{
    position: relative;
    /* display: inline-block; */
    /* 此作法等同於在body做flex */
    width: 200px;
    height: 200px;
    outline: 1px solid #000;
}

.man{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #550000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.man2{
    animation-name: ani1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* 無限次播放 */
}
.man3{
    animation-name: ani2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.man4{
    animation-name: ani3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.man5{
    animation-name: ani4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
       /* 時間曲線-淡入淡出等 */
    /* animation-timing-function: cubic-bezier(0.815, -0.550, 0.825, 0.290); */
       /* google: css time fuction generator */
}
.man6{
    animation-name: ani4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
    /* 切斷成定格動畫的感覺 */
}
.man7{
    background-image: url(../images/monkey.png);
    width: 162px;
    height: 144px;
    background-position: 0 0;
    animation-name: ani5;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-timing-function: step-start;
    /* 從影片一開始計算, 一格一格進行, 沒有中間過度, 從會形成定格動畫 */

}


/* 設定動畫-animation */
/* 分別是0秒, 0.5秒, 1秒 */
@keyframes ani1{
    0%{
        left: 0;
    }
    50%{
        left: 100px;
    }
    100%{
        left: 0;
    }
}

@keyframes ani2{
    0%{
        left: -100px;
        top: -100px;
    }
    25%{
        left: 100px;
        top: -100px;
    }
    50%{
        left: 100px;
        top: 100px;
    }
    75%{
        left: -100px;
        top: 100px;
    }
    100%{
        left: -100px;
        top: -100px;
    }
}
@keyframes ani3{
    0%{
        left: -100px;
        top: -100px;

    }
    25%{
        left: 100px;
        top: -100px;

    }
    50%{
        left: 100px;
        top: 100px;

    }
    75%{
        left: -100px;
        top: 100px;

    }
    100%{
        left: -100px;
        top: -100px;
    }
}
@keyframes ani4{
    0%{
        left: -100px;
        top: -100px;
        transform: scale(1) rotate(-30deg);
    }
    25%{
        left: 100px;
        top: -100px;
        transform: scale(1.3) rotate(30deg);
    }
    50%{
        left: 100px;
        top: 100px;
        transform: scale(2) rotate(60deg);
    }
    75%{
        left: -100px;
        top: 100px;
        transform: scale(1.5) rotate(180deg);
    }
    100%{
        left: -100px;
        top: -100px;
        transform: scale(2) rotate(90deg);
    }
}
@keyframes ani5{
    0%{background-position: -1px -1px;}
    12.5%{background-position: -165px -1px;}
    25%{background-position: -329px -1px;}
    37.5%{background-position: -1px -147px;}
    50%{background-position: -165px -147px;}
    62.5%{background-position: -329px -147px;}
    75%{background-position: -1px -293px;}
    87.5%{background-position: -165px -293px;}
    100%{background-position: -1px -1px;}
}