body{
    box-sizing: border-box
}
.word2{
    position: absolute;
    background-color: rgb(177, 146, 146);
    border-radius: 40px;
    width: 50vw;
    height: 20vh;
    padding: 35px;
    margin-left: 18vw;
    color: #fff;
    z-index: -100;
    filter: drop-shadow(2px 5px 5px #333);
}
.me2 {
    position: absolute;
    left: 60vw;
    top: 30vh;
    width: 100px;
    height: 100px;
    border-radius: 360px;
    background-position: -25px 0;
    transform: scaleX(-1);

}
